@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:ital,wght@1,700&family=Courgette&family=Stoke&display=swap');
*{
    padding: 0px;
    margin: 0px;
}

:root{
    --primary-color:#e879f9;
}

body{

/* font-family: 'Courgette', cursive;  */
 font-family: 'Stoke', serif;
}

#heading{
    background-color:var(--primary-color);
    text-align: center;
    padding: 4rem 4rem;
    font-size: xx-large;
    font-weight: bolder;
}

#wrapper{
    box-sizing: border-box;
    margin: auto;
    width:40rem;
    padding-top: 1.5rem;
    padding-bottom: 2rem;
    margin-bottom: 1rem;
    border: solid #f0abfc 3px;
    border-radius: 0.5rem;
    background-color: #f0abfc ; 
    box-sizing: border-box;
   
}

h3{    
    font-size: xx-large;
    text-align: center;
} 

#guessArea{
    width: 80%;
   padding: 2rem;
   border:  5px solid black;
   border-radius: 0.5rem;
   margin-bottom: 1rem;
   margin-top: 30px;
   margin-left: 1.7rem; 
   font-size: 40px;
   text-align: center; 
   font-weight: bolder
}

#button{
    width: 35%;
    padding: 0.5rem 1rem;
    border: solid black 2px;
    border-radius: 1rem;
    background-color:white;
    color: #0f0a10;
    font-family: 'Cormorant Infant', serif;
    font-weight: bolder;
    font-size: 30px; 
    margin-left: 12.5rem;
 }
 
 .rmainingGuess{
     font-size: large;
     font-weight: bold;  
 } 

 .previousGuess{
     font-size: large;
     font-weight: bold;
 }

 .restart{
    margin-top: 1.5rem;
    text-align: center;
    font-weight: bold;
    font-size: x-large;
 }

 .result{
     margin-top: 2rem;
     font-size: 700;
     font-weight: bold;
 }
 #newGame{
    width: 11rem;
    margin: auto;
    padding: 0.5rem 0.5rem;
    text-align: center;
    border: 3px solid rgb(53, 117, 135);
    border-radius: 0.5rem;
    font-size: large;
    font-weight: bold;
    margin-top: 3rem;
    background-color: white;
   
 }

 p{
    text-align: center;
    margin-top: 1rem;
    font-size: x-large;
    font-weight: bolder;
    margin-bottom: 1rem; 
 }
 h4{
    margin-bottom: 1rem;
}

h5{
    margin-bottom: 1rem;
}

