*{
  margin: 0px;
  padding: 0px;
}

html, body {
    height: 100%;
    width: 100%;
}

.conatainer{
     box-sizing: border-box;
      padding: 8rem;
      width: 40rem;
      margin: auto;
      box-align: center;
      background-color: aqua;
      margin-top: 10rem;
      border:  5px solid black;
      border-radius: 4px;
   
  }
  
  
  .randomjoke{
    background-color: black;
    padding: 3rem 3rem;
    margin-bottom: 1rem;
    text-align: center;
    color: cyan;
    text-shadow:  1px 1px #140b0b;
  }
  
  #jokesplay{
    color: black;
    text-align: center;
  }